/* App.css */

.app-container {
  padding: 20px;
  font-family: sans-serif;
}

.task-columns {
  display: flex;
  justify-content: space-between;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
